html, body{
  width: 100%; 
  height: 100%; 
  padding: 0; 
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto',sans-serif;
}
     
.header {
  padding-top: 1em;
  height: 50px;
}

h1 {
	text-align: center;
	font-size: 1.5em;
	display:inline;
}
h2 {
	text-align: center;
	font-size: .8em;
}
   

/************************ link *************************/

a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: grey;
  text-decoration: none;
}

/* selected link */
a:active {
  color: grey;
}

/************************* button *************************/

.myButton {
	text-align: center;
	font-size: .8em;
	width: 160px;
	background-color: #d3d3d3;
	border: 1px solid #c0c0c0;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	padding: 6px 24px;
	opacity: 0.7;
}
.myButton:hover {
	opacity:1;
}
.myButton:active {
	opacity:1;
}

.arrowButton {
	text-align: center;
	font-size: .8em;
	width: 30px;
	height: 30px;
	background-color: #d3d3d3;
	border-radius: 6px;
	border: 1px, solid #c0c0c0;
	display: inline-block;
	cursor: pointer;
	color: #000;
	opacity: 0.7;
}

.arrowButton:hover {
  opacity: 1;	
}

.arrowButton:active {
	opacity: 1;
}
/************************* slider *************************/

.slider {
	width: 40%;
	opacity: 0.7;
	-webkit-appearance: none;
}

/*** mozilla firefox ***/
.slider::-moz-range-track {
  background: rgba(211, 211, 211, 0.7);
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  height: 5px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width:6px;
  height: 15px;
  background-color: #d3d3d3;
  border: 0.1px solid #c0c0c0;
  border-radius: 6px;
  cursor: pointer;
}

/*** google chrome ***/
.slider::-webkit-slider-runnable-track {
  background: rgba(211, 211, 211, 0.7);
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  height: 5px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
	 margin-top: -5px;
  width:6px;
  height: 15px;
  background-color: #d3d3d3;
  border: 0.1px solid #c0c0c0;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
}

/*** microsoft edge ***/
.slider::-ms-track {
  background: rgba(211, 211, 211, 0.7);
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  height: 5px;
  cursor: pointer;
}

.slider::-ms-thumb {
  width:6px;
  height: 15px;
  background-color: #d3d3d3;
  border: 0.1px solid #c0c0c0;
  border-radius: 6px;
  cursor: pointer;
}

.slider:hover {
	opacity: 1;
}

/************************* summary *************************/

summary:hover{
	background: #dfdfdf;
	border: none;
}

summary{
	outline:none;
}

/************************* tooltip *************************/

.tooltip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: white;
	border: 0 none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
	padding: 5px;
	text-align: left;
}


/************************ treemap *************************/

div{
	position: absolute; 
	
}

#unit{top: 14%; left: 0; right: 50%; bottom: 50.5%;
border-right: 1px dashed black;
border-bottom: 1px dashed black;}
#system{top: 14%; left: 50%; right: 0; bottom: 50.5%;
border-bottom: 1px dashed black;}
#integration{top: 50%; left: 0; right: 50%; bottom: 14%;
border-right: 1px dashed black;}
#acceptance{top: 50%; left: 50%; right: 0; bottom: 14%}
#slider_execution{
	text-align: center;
	top:89%; left:0%; right:0%; bottom:0%}

/************************ testset *************************/

#testset_unit {
	position: relative;
	width: 100%;
	height: 100%;
}

#testset_unit svg:hover{
	transform: scale(1.2);
	z-index: 100;
	opacity: 1;
	transition: transform 0.4s;
}

#testset_system svg:hover{
	transform: scale(1.2);
	z-index: 100;
	opacity: 1;
	transition: transform 0.4s;
}

#testset_integration svg:hover{
	transform: scale(1.2);
	z-index: 100;
	opacity: 1;
	transition: transform 0.4s;
}

#testset_acceptance svg:hover{
	transform: scale(1.2);
	z-index: 100;
	opacity: 1;
	transition: transform 0.4s;
}